<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="${title}">About</title>-->
<!--</head>-->
<!--<body>-->

<!--<section>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 offset-md-3">-->
<!--                <div class="my-card mt-3">-->
<!--                    <h3 class="text-center">Register</h3>-->
<!--                    <form th:action="@{/process_signup}" method="post" th:object="${user}">-->
<!--                        <div class="form-group">-->
<!--                            <label for="name">Name</label>-->
<!--                            <input type="text" name="name" class="form-control" id="name"-->
<!--                                   placeholder="Enter your name" required th:value="${user.name}">-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="email">Email</label>-->
<!--                            <input type="email" name="email" class="form-control" id="email"-->
<!--                                   placeholder="Enter your email" required th:value="${user.email}">-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="password">Password</label>-->
<!--                            <input type="password" name="password" class="form-control" id="password"-->
<!--                                   placeholder="Enter your password" required>-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="about">About</label>-->
<!--                            <textarea class="form-control" name="about" id="about" rows="5"-->
<!--                                      th:value="${user.about}"></textarea>-->
<!--                        </div>-->

<!--                        <div class="form-group form-check">-->
<!--                            <input type="checkbox" name="agreement" class="form-check-input" id="agreement" required>-->
<!--                            <label class="form-check-label" for="agreement">I accept all the Terms and-->
<!--                                Conditions</label>-->
<!--                        </div>-->

<!--                        <br>-->
<!--                        <div class="container text-center">-->
<!--                            <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                            <button type="reset" class="btn btn-warning">Reset</button>-->


<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->